<div class="template-teaser_page portaltype-plone-site x userrole-anonymous campl-theme-1" ng-controller="Usercontrollers as ctrl">
    <div class="campl-wrap clearfix">
        <div class="campl-column2">
            <div class="campl-quicklinks">
                <img alt="University of Cambridge" height="80" width="80" src="./images/homepage/annaunivbig.png" />
            </div>
            <br>
        </div>
    </div>
    <div class="campl-row campl-global-navigation-drawer">
        <div class="campl-wrap clearfix">
            <div class="campl-column12 campl-home-link-container">
                <a href="" >Home</a>
            </div>
        </div>
    </div>
    <div class="campl-row campl-page-header campl-section-page template-teaser_page portaltype-plone-site site-FACBIOL icons-on userrole-anonymous campl-theme-1">
        <div class="campl-wrap clearfix">
            <div class="campl-column12">
                <div class="campl-content-container" id="falcon-logo-wrapper">
                    <div style="color: white;font-size: 19 "><b><div class="actionMenu deactivated" ng-model="ctrl.Username" ng-if="ctrl.checkUsername()">Welcome {{ctrl.Username}}
                    </div></b> </div>
                    <div style="color: white;font-size: 19 "><b><div class="actionMenu deactivated" ng-model="ctrl.Username" ng-if="!ctrl.checkUsername()">Welcome to my Site
                    </div></b> </div>
                    <ul class="actionMenu deactivated" id="portal-personaltools">
                        <li id="anon-personalbar">
                            <a href="" ng-click="ctrl.travsignup()" ng-if="!ctrl.checkUsername()" id="personaltools-login">Login/Register</a>
                        </li>
                        <li id="anon-personalbar">
                            <a href="" ng-click="ctrl.logout()" ng-if="ctrl.checkUsername()" id="personaltools-login">Logout</a>
                        </li>
                    </ul>
                    <div class="campl-breadcrumb" id="campl-breadcrumb">
                        <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
                            <li class="first-child">
                                <a href="#" class="campl-home ir">Home</a>
                            </li>
                            <li>
                                <a href="#" title="Faculty of Biology"></a>
                            </li>
                        </ul>
                    </div>
                    <p class="campl-page-title">CASETOOLS</p>
                </div>
            </div>
        </div>
    </div>

    <div class="campl-row campl-page-header">
        <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
            <div class="campl-local-navigation-container">
                <ul class="campl-unstyled-list">
                    <li>
                        <a href="" ng-click="ctrl.travlandingpage()">
                            <div>
                           <span>
                              HOME
                          </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="ctrl.travcourses()">
                            <span>MATCHES</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="ctrl.travstaff()">
                            <span>STADIUMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="ctrl.travcontactus()">
                            <span>CONTACT US</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--<div class="campl-row campl-content campl-recessed-content">
            <div class="campl-wrap clearfix">
                <div class="campl-column6 campl-main-content">
                    <div class="campl-content-container campl-sub-column-right-border campl-vertical-padding clearfix">
                        <div class="campl-column6">
                            <div class="campl-content-container campl-side-padding">
                                <div class="campl-teaser campl-vertical-teaser">
                                    <div class="campl-content-container campl-vertical-teaser-img">
                                        <a href="https://www.biology.cam.ac.uk/undergrads" class="campl-teaser-img-link">
                                            <img class="campl-scale-with-grid" src="./images/homepage/1.jpeg" alt="349 MVST Laboratory" />
                                        </a>
                                    </div>
                                    <div class="campl-content-container campl-vertical-teaser-txt">
                                        <h3 class="campl-teaser-title">
                                            <a href="https://www.biology.cam.ac.uk/undergrads">For Undergraduates</a>
                                        </h3>
                                        <a class="campl-primary-cta" href="https://www.biology.cam.ac.uk/undergrads">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-column6">
                            <div class="campl-content-container campl-side-padding campl-sub-column-left-border">
                                <div class="campl-teaser campl-vertical-teaser">
                                    <div class="campl-content-container campl-vertical-teaser-img">
                                        <a href="https://www.biology.cam.ac.uk/departments" class="campl-teaser-img-link">
                                            <img class="campl-scale-with-grid" src="./images/homepage/2.jpeg" alt="349 NST Laboratory" />
                                        </a>
                                    </div>
                                    <div class="campl-content-container campl-vertical-teaser-txt">
                                        <h3 class="campl-teaser-title">
                                            <a href="https://www.biology.cam.ac.uk/departments">For Departmental Staff</a>
                                        </h3>
                                        <a class="campl-primary-cta" href="https://www.biology.cam.ac.uk/departments">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="campl-teaser-divider" />
                    <div class="campl-content-container campl-sub-column-right-border campl-vertical-padding clearfix">
                        <div class="campl-column6">
                            <div class="campl-content-container campl-side-padding">
                                <div class="campl-teaser campl-vertical-teaser">
                                    <div class="campl-content-container campl-vertical-teaser-img">
                                        <a href="https://www.biology.cam.ac.uk/colleges" class="campl-teaser-img-link">
                                            <img class="campl-scale-with-grid" src="./images/homepage/3.jpeg" alt="349 Post It Notes" />
                                        </a>
                                    </div>
                                    <div class="campl-content-container campl-vertical-teaser-txt">
                                        <h3 class="campl-teaser-title">
                                            <a href="https://www.biology.cam.ac.uk/colleges">For College Staff</a>
                                        </h3>
                                        <a class="campl-primary-cta" href="https://www.biology.cam.ac.uk/colleges">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-column6">
                            <div class="campl-content-container campl-side-padding campl-sub-column-left-border">
                                <div class="campl-teaser campl-vertical-teaser">
                                    <div class="campl-content-container campl-vertical-teaser-img">
                                        <a href="https://www.biology.cam.ac.uk/governance" class="campl-teaser-img-link">
                                            <img class="campl-scale-with-grid" src="./images/homepage/4.jpeg" alt="349 Xray" />
                                        </a>
                                    </div>
                                    <div class="campl-content-container campl-vertical-teaser-txt">
                                        <h3 class="campl-teaser-title">
                                            <a href="https://www.biology.cam.ac.uk/governance">Governance</a>
                                        </h3>
                                        <a class="campl-primary-cta" href="https://www.biology.cam.ac.uk/governance">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="falcon-teasers-sub-column" class="campl-column3">
                    <div class="campl-content-container campl-sub-column-left-border">
                        <div class="campl-teaser campl-vertical-teaser">
                            <div class="campl-content-container campl-vertical-teaser-img">
                                <a class="campl-teaser-img-link">
                                    <img class="campl-scale-with-grid" src="./images/homepage/5.jpeg" alt="349 Periodic Table" />
                                </a>
                            </div>
                            <div class="campl-content-container campl-vertical-teaser-txt">
                                <h3 class="campl-teaser-title">About</h3>
                                <p>The Faculty Board of Biology is responsible for the undergraduate teaching of biological sciences in the Natural Sciences Tripos through the Biological Sciences Committee, for the Medical and Veterinary Sciences Tripos through the MVST Part I Committee and for the Psychology and Behavioural Sciences Tripos through the PBS Management Committee.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!--   <div class="campl-column3 campl-secondary-content campl-recessed-secondary-content">
          <div class="portletWrapper" data-portlethash="706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a696e666f726d6174696f6e2d666f722d7374616666" id="portletwrapper-706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a696e666f726d6174696f6e2d666f722d7374616666">
              <div class="campl-content-container falcon-linkbox-portlet">
                  <div class="campl-heading-container">
                      <h4>Head of the Department ...</h4>
                  </div>
                  <ul class="campl-unstyled-list campl-related-links">
                      <li>
                          Gokula Krishnan .P
                      </li>
                      <li>
                          Raghi <
                      </li>
                  </ul>
              </div>
          </div>
          <div class="portletWrapper" data-portlethash="706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a696e666f726d6174696f6e2d666f72" id="portletwrapper-706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a696e666f726d6174696f6e2d666f72">
              <div class="campl-content-container falcon-linkbox-portlet">
                  <div class="campl-heading-container">
                      <h4>Professors ...</h4>
                  </div>
                  <ul class="campl-unstyled-list campl-related-links">
                      <li>
                          Vigneshwaran
                      </li>
                      <li>
                          Sivaashanth Suman R.S
                      </li>
                      <li>
                          Santhosh Mohan
                      </li>
                      <li>
                          Jai vishal
                      </li>
                  </ul>
              </div>
          </div>
          <div class="portletWrapper" data-portlethash="706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a72656c617465642d6c696e6b73" id="portletwrapper-706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f46414342494f4c0a72656c617465642d6c696e6b73">
              <div class="campl-content-container falcon-linkbox-portlet">
                  <div class="campl-heading-container">
                      <h4>Sponsors ...</h4>
                  </div>
                  <ul class="campl-unstyled-list campl-related-links">
                      <li>
                          Subramanian Ramalingam
                      </li>
                      <li>
                          Sameer Ahmed
                      </li>
                      <li>
                          Rakesh Khanna
                      </li>
                      <li>
                          Saravana Vignesh
                      </li>
                      <li>
                          Mujahid A.I
                      </li>
                  </ul>
              </div>
          </div>
-->           <!-- </div>
        </div>
    </div> -->
    <div class="campl-row campl-content campl-recessed-content" style="background-image: url('/images/background/cricket.jpg'); display: inline-block;width: 100%;height: auto">
        <div class="plane">
            <div class="cockpit">
                <h1 style="color: white !important;">Please select a seat</h1>
            </div>
            <div class="exit exit--front fuselage">

            </div>
            <ol class="cabin fuselage">
                <li class="row row--1">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.1A" value="true" id="1A" />
                            <label for="1A">1A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.1B" value="true" id="1B" />
                            <label for="1B">1B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.1C" value="true" id="1C" />
                            <label for="1C">1C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" disabled ng-model="ctrl.1D" value="true" id="1D" />
                            <label for="1D">Occupied</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.1E" value="true" id="1E" />
                            <label for="1E">1E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.1F" value="true" id="1F" />
                            <label for="1F">1F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--2">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2A" value="true" id="2A" />
                            <label for="2A">2A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2B" value="true" id="2B" />
                            <label for="2B">2B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2C" value="true" id="2C" />
                            <label for="2C">2C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2D" value="true" id="2D" />
                            <label for="2D">2D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2E" value="true" id="2E" />
                            <label for="2E">2E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.2F" value="true" id="2F" />
                            <label for="2F">2F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--3">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3A" value="true" id="3A" />
                            <label for="3A">3A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3B" value="true" id="3B" />
                            <label for="3B">3B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3C" value="true" id="3C" />
                            <label for="3C">3C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3D" value="true" id="3D" />
                            <label for="3D">3D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3E" value="true" id="3E" />
                            <label for="3E">3E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.3F" value="true" id="3F" />
                            <label for="3F">3F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--4">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4A" value="true" id="4A" />
                            <label for="4A">4A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4B" value="true" id="4B" />
                            <label for="4B">4B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4C" value="true" id="4C" />
                            <label for="4C">4C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4D" value="true" id="4D" />
                            <label for="4D">4D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4E" value="true" id="4E" />
                            <label for="4E">4E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.4F" value="true" id="4F" />
                            <label for="4F">4F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--5">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5A" value="true" id="5A" />
                            <label for="5A">5A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5B" value="true" id="5B" />
                            <label for="5B">5B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5C" value="true" id="5C" />
                            <label for="5C">5C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5D" value="true" id="5D" />
                            <label for="5D">5D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5E" value="true" id="5E" />
                            <label for="5E">5E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.5F" value="true" id="5F" />
                            <label for="5F">5F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--6">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6A" value="true" id="6A" />
                            <label for="6A">6A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6B" value="true" id="6B" />
                            <label for="6B">6B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6C" value="true" id="6C" />
                            <label for="6C">6C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6D" value="true" id="6D" />
                            <label for="6D">6D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6E" value="true" id="6E" />
                            <label for="6E">6E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.6F" value="true" id="6F" />
                            <label for="6F">6F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--7">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7A" value="true" id="7A" />
                            <label for="7A">7A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7B" value="true" id="7B" />
                            <label for="7B">7B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7C" value="true" id="7C" />
                            <label for="7C">7C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7D" value="true" id="7D" />
                            <label for="7D">7D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7E" value="true" id="7E" />
                            <label for="7E">7E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.7F" value="true" id="7F" />
                            <label for="7F">7F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--8">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8A" value="true" id="8A" />
                            <label for="8A">8A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8B" value="true" id="8B" />
                            <label for="8B">8B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8C" value="true" id="8C" />
                            <label for="8C">8C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8D" value="true" id="8D" />
                            <label for="8D">8D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8E" value="true" id="8E" />
                            <label for="8E">8E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.8F" value="true" id="8F" />
                            <label for="8F">8F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--9">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9A" value="true" id="9A" />
                            <label for="9A">9A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9B" value="true" id="9B" />
                            <label for="9B">9B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9C" value="true" id="9C" />
                            <label for="9C">9C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9D" value="true" id="9D" />
                            <label for="9D">9D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9E" value="true" id="9E" />
                            <label for="9E">9E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.9F" value="true" id="9F" />
                            <label for="9F">9F</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--10">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10A" value="true" id="10A" />
                            <label for="10A">10A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10B" value="true" id="10B" />
                            <label for="10B">10B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10C" value="true" id="10C" />
                            <label for="10C">10C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10D" value="true" id="10D" />
                            <label for="10D">10D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10E" value="true" id="10E" />
                            <label for="10E">10E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" ng-model="ctrl.10F" value="true" id="10F" />
                            <label for="10F">10F</label>
                        </li>
                    </ol>
                </li>
            </ol>
            </div>
        <div class="submit"><span class='submit__text'>Submit</span></div>
        <style>
            *, *:before, *:after {
                box-sizing: border-box;
            }

            html {
                font-size: 16px;
            }

            .plane {
                margin: 20px auto;
                max-width: 300px;
            }

            /*.cockpit {
                height: 250px;
                position: relative;
                overflow: hidden;
                text-align: center;
                border-bottom: 5px solid #d8d8d8;
            }
            .cockpit:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 500px;
                width: 100%;
                border-radius: 50%;
                border-right: 5px solid #d8d8d8;
                border-left: 5px solid #d8d8d8;
            }
            .cockpit h1 {
                width: 60%;
                margin: 100px auto 35px auto;
            }
*/          .submit {
                background: #55dbb1;
                height: 2.7em;
                width: 13em;
                border-radius: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-family: roboto;
                font-weight: 400;
                font-size: 2em;
                letter-spacing: 3px;
                cursor: pointer;
                width: 50%;
                margin: 0 auto;
            }

            .submit__text {
                opacity: 1;
            }
            .submit__text.active {
                transition: 0.5s;
                opacity: 1;
            }
            .exit {
                position: relative;
                height: 50px;
            }
            .exit:before {
                content: "EXIT";
                font-size: 14px;
                line-height: 18px;
                padding: 0px 2px;
                font-family: "Arial Narrow", Arial, sans-serif;
                display: block;
                position: absolute;
                background: green;
                color: white;
                top: 50%;
                transform: translate(0, -50%);
            }
            .exit:before {
                left: 0;
            }
            .exit:after {
                right: 0;
            }

            .fuselage {
                border-right: 5px solid #d8d8d8;
                border-left: 5px solid #d8d8d8;
            }

            ol {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .seats {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }

            .seat {
                display: flex;
                flex: 0 0 14.28571428571429%;
                padding: 5px;
                position: relative;
            }
            .seat:nth-child(3) {
                margin-right: 14.28571428571429%;
            }
            .seat input[type=checkbox] {
                position: absolute;
                opacity: 0;
            }
            .seat input[type=checkbox]:checked + label {
                background: #bada55;
                -webkit-animation-name: rubberBand;
                animation-name: rubberBand;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }
            .seat input[type=checkbox]:disabled + label {
                background: #dddddd;
                text-indent: -9999px;
                overflow: hidden;
            }
            .seat input[type=checkbox]:disabled + label:after {
                content: "X";
                text-indent: 0;
                position: absolute;
                top: 4px;
                left: 50%;
                transform: translate(-50%, 0%);
            }
            .seat input[type=checkbox]:disabled + label:hover {
                box-shadow: none;
                cursor: not-allowed;
            }
            .seat label {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5rem;
                padding: 4px 0;
                background: #F42536;
                border-radius: 5px;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }
            .seat label:before {
                content: "";
                position: absolute;
                width: 75%;
                height: 75%;
                top: 1px;
                left: 50%;
                transform: translate(-50%, 0%);
                background: rgba(255, 255, 255, 0.4);
                border-radius: 3px;
            }
            .seat label:hover {
                cursor: pointer;
                box-shadow: 0 0 0px 2px #5C6AFF;
            }

            @-webkit-keyframes rubberBand {
                0% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                30% {
                    -webkit-transform: scale3d(1.25, 0.75, 1);
                    transform: scale3d(1.25, 0.75, 1);
                }
                40% {
                    -webkit-transform: scale3d(0.75, 1.25, 1);
                    transform: scale3d(0.75, 1.25, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.15, 0.85, 1);
                    transform: scale3d(1.15, 0.85, 1);
                }
                65% {
                    -webkit-transform: scale3d(0.95, 1.05, 1);
                    transform: scale3d(0.95, 1.05, 1);
                }
                75% {
                    -webkit-transform: scale3d(1.05, 0.95, 1);
                    transform: scale3d(1.05, 0.95, 1);
                }
                100% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
            }
            @keyframes rubberBand {
                0% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                30% {
                    -webkit-transform: scale3d(1.25, 0.75, 1);
                    transform: scale3d(1.25, 0.75, 1);
                }
                40% {
                    -webkit-transform: scale3d(0.75, 1.25, 1);
                    transform: scale3d(0.75, 1.25, 1);
                }
                50% {
                    -webkit-transform: scale3d(1.15, 0.85, 1);
                    transform: scale3d(1.15, 0.85, 1);
                }
                65% {
                    -webkit-transform: scale3d(0.95, 1.05, 1);
                    transform: scale3d(0.95, 1.05, 1);
                }
                75% {
                    -webkit-transform: scale3d(1.05, 0.95, 1);
                    transform: scale3d(1.05, 0.95, 1);
                }
                100% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
            }
            .rubberBand {
                -webkit-animation-name: rubberBand;
                animation-name: rubberBand;
            }

        </style>
        <br><br><br><br><br><br><br>
    </div>
    <!--
                <div class="campl-row campl-local-footer" id="falcon-local-footer"><div class="campl-wrap clearfix"><div class="campl-column3 campl-footer-navigation"><div class="campl-content-container campl-navigation-list"><h3><a title="contact us" href="https://www.biology.cam.ac.uk/contact">
        Contact us
      </a></h3><ul class="campl-unstyled-list campl-page-children"><li>
          Postal Address:
                                        <br />

            School of the Biological Sciences

                                        <br />


            17 Mill Lane

                                        <br />


            Cambridge

                                        <br />


            CB2 1RX



                                    </li><li>
            Information provided by:
                                        <br /><a title="send email" href="mailto:facbiol@admin.cam.ac.uk">facbiol@admin.cam.ac.uk</a></li><li><a title="Site Privacy &amp; Cookie Policies" href="https://www.biology.cam.ac.uk/privacy-and-cookie-policies">
          Site Privacy &amp; Cookie Policies
        </a></li></ul></div></div><div class="campl-column3 campl-footer-navigation"></div><div class="campl-column3 campl-footer-navigation"></div><div class="campl-column3 campl-footer-navigation last"></div></div></div>-->

    <!-- .campl-global-footer ends -->
    <!--[if lte IE 8]>
    </div>
    <![endif]-->
    <script type="text/javascript" src="./js/homepage/theme1.js"></script>
    <script type="text/javascript" src="./js/homepage/theme2.js"></script>
    <script type="text/javascript" src="./js/homepage/theme3.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var contentWidth = $('#content').width();

            $("dl.image-inline.captioned, dl.image-left.captioned, dl.image-right.captioned").each(function() {
                var caption = $(this).find('.image-caption');
                var img     = $(this).find('img');
                var width   = img.width()
                var ratio   = (width < contentWidth) ? width / contentWidth : 1;

                $(this).removeAttr('style');
                caption.removeAttr('style');

                img.removeAttr('width');
                img.removeAttr('height');
                img.css('max-width', "100%");
                img.css('height', "auto");

                $(this).css('max-width', (ratio * 100.0) + '%');
            })
        });
    </script>
</div>